/*Style Sheet for mobile*/

@media screen and (max-width: 667px) {
    .calculator {
        height: 100vh;
        width: 100vw;
        position: relative;
        top: 0;
        display: inline-block;
        margin: auto;
    }

    .readout {
        height: 16.66%;
        width: 100%;
        position: relative;
        text-align: right;
        box-sizing: border-box;
        padding: .95em;
        /*background-color: brown;*/
    }

    .button-area {
        height: 83.33%;
        width: 100%;
        position: relative;
        /*background-color: orange;*/
    }

    .digits {
        height: 80%;
        width: 75%;
        float: left;
        /*background-color: pink;*/
    }

    .operators {
        height: 80%;
        width: 25%;
        float: left;
        /*background-color: chartreuse;*/
    }

    .clear {
        height: 20%;
        width: 100%;
        clear: both;
        /*background-color: purple;*/
    }
}

@media screen and (max-width: 400px) {
    .calculator {
        height: 100vh;
        width: 100vw;
        position: relative;
        top: 0;
        display: inline-block;
        margin: auto;
    }

    .readout {
        height: 16.66%;
        width: 100%;
        position: relative;
        text-align: right;
        box-sizing: border-box;
        padding: .95em;
        /*background-color: brown;*/
    }

    .button-area {
        height: 83.33%;
        width: 100%;
        position: relative;
        /*background-color: orange;*/
    }

    .digits {
        height: 80%;
        width: 75%;
        float: left;
        /*background-color: pink;*/
    }

    .operators {
        height: 80%;
        width: 25%;
        float: left;
        /*background-color: chartreuse;*/
    }

    .clear {
        height: 20%;
        width: 100%;
        clear: both;
        /*background-color: purple;*/
    }
}